name: Cache Assignment

on:
  push:

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: cache-d74dcc5

      - name: prime-cache-d74dcc5
        run: echo "Cache hit? ${{ steps.cache-step.outputs.cache-hit }}"
